CalibrationUtils.vcxproj
CalibrationUtils.vcxproj.filters
CalibrationUtils.vcxproj.user
Debug/CalibrationUtils.Build.CppClean.log
Debug/CalibrationUtils.lastbuildstate
Debug/CalibrationUtils.log
Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/ForegroundObjs.obj
Debug/KinectSensor.obj
Debug/Lib-link.read.1.tlog
Debug/Lib-link.write.1.tlog
Debug/lib.command.1.tlog
Debug/Plane.obj
Debug/PlaneFitting.obj
Debug/Utils.obj
Debug/vc100.idb
Debug/vc100.pdb
Release/CalibrationUtils.Build.CppClean.log
Release/CalibrationUtils.lastbuildstate
Release/CalibrationUtils.log
Release/cl.command.1.tlog
Release/CL.read.1.tlog
Release/CL.write.1.tlog
Release/ForegroundObjs.obj
Release/KinectSensor.obj
Release/Lib-link.read.1.tlog
Release/Lib-link.write.1.tlog
Release/lib.command.1.tlog
Release/Plane.obj
Release/PlaneFitting.obj
Release/Utils.obj
Release/vc100.pdb
